button {
    color: darkslategray;
    text-align: center;
    background-color: lightgray;
    font-family: 'Mobile Font', 'MobileFont', serif;
    text-transform: uppercase;
}

.trophy {
    font-size: 200;
    font-weight: 700;
    text-align: center;
    color: rgb(182, 182, 182);
    font-family: 'FontAwesome', 'fontawesome-webfont';
    padding-top: 100px;
    
}

.grid{
    background-color: lightgreen;
}

.play-again {
    color: darkslategray;
    text-align: center;
    font-size: 20px;
    background-color: lightgray;
    font-family: 'Mobile Font', 'MobileFont', serif;
    height: 80px;
    width: 40%;
    border-color: black;
    border-radius: 8;
    border-width: 3;
    margin-bottom: 10;
}

.scoreboard{
    font-family: 'Mobile Font', 'MobileFont', serif;
    font-size: 18;
    margin: 5;
    align-items: flex-end;
}


.result {
    font-size: 30px;
    color: darkslategray;
    text-align: center;
    font-family: 'Mobile Font', 'MobileFont', serif;
}

.madeby {
    font-size: 10px;
    text-align: center;
    margin: 15;
}