<StackLayout class='grid' width="100%" height="100%">
    <FlexBoxLayout flexDirection="column" class="scoreboard">
        <label [ngModel]="oWins" text=" Player O wins = {{oWins}}"></label>
        <label [ngModel]="xWins" text=" Player X wins = {{xWins}}"></label>
    </FlexBoxLayout>
<Gridlayout class = 'grid' rows="*, *, 50, auto">
    <!-- <label row="0" *ngIf="id !== 'tie'" class="trophy" text="&#xf091;"></label> -->
    <label row="0" *ngIf="id == 'tie'" class="trophy" text="&#xf119;"></label> 
    <label row="0" *ngIf="id !== 'tie'" class="trophy" text="&#xf118;"></label> 
    <label row="1" [text]="result" class="result"></label>
    <button  *ngIf= '!isReset' row="2" class= "play-again" text="Play Again!" (tap)="gameRestart()"></button>
    <label row="3" text="Tic Tac Toe - Roy Brown - 2019" class="madeby"></label>
</Gridlayout>
</StackLayout>

