button {
    
    margin: 10px;
    border-radius: 8;
    color: lightgreen;
    text-align: center;
    font-size: 95%;
    font-weight: 900;
    animation-name: animation;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    font-family: 'Mobile Font', 'MobileFont', serif;
}

button:active {
    background-color: white;
}
.fa {
    font-family: Font Awesome 5 Free, url('/fonts/fa-solid-900');
}
.bg {
    background-color:lightgreen;
}

.player{
    margin:10;
    font-size: 30;
    text-align: left;
    border-color: black;
    border-radius: 5;
    border-width: 4;

}
.title {
    
    font-size: 26;
    font-weight: 700;
    color: black;
    margin-right: 20;
    text-align: center;
}
.card-bg{
    background-color:lightgreen;
    align-items: center;
}
.card{
    background-color: whitesmoke;
    padding: 15;
}
.restart {
    font-size: 20;
    margin-top: 50;
    color: black;
    align-content: flex-start;
    border-color: black;
    border-radius: 8;
    border-width: 3;
}

.grid {
    margin-top: 25;
    margin-left: 5;
    margin-right: 5;
    border-color: black;
    border-radius: 8;
    border-width: 4;
}

label {
    font-size: 35px;
    font-family: 'Mobile Font', 'MobileFont', serif;
    color: rgb(8, 8, 8);
    text-align: center;
}

@keyframes animation {
    0% {
        background-color: white;
        color: white;
    }
    100% {
        background-color: rgb(197, 195, 195);
        color: rgb(197, 195, 195);
    }
}

