
<StackLayout class="bg" width="100%">
    <FlexBoxLayout width ="100%" class="card-bg">
        <Label  width="50%" class="player" text=" {{activePlayer}}"></Label>
        <Label  width="50%" class= "title" text = "Shipt Project"></Label>
    </FlexBoxLayout>
    <GridLayout class='grid' height="70%" rows="1, *, *, *" columns="auto, *, auto, *, auto, *">

    <button class="fa" row="1" col="0" [colSpan]="2" (tap)="setTile($event)" score="1"></button>
    <button class="fa" row="1" col="2" [colSpan]="2" (tap)="setTile($event)" score="2"></button>
    <button class="fa" row="1" col="4" [colSpan]="2" (tap)="setTile($event)" score="4"></button>

    <button class="fa" row="2" col="0" [colSpan]="2" (tap)="setTile($event)" score="8"></button>
    <button class="fa" row="2" col="2" [colSpan]="2" (tap)="setTile($event)" score="16"></button>
    <button class="fa" row="2" col="4" [colSpan]="2" (tap)="setTile($event)" score="32"></button>

    <button class="fa" row="3" col="0" [colSpan]="2" (tap)="setTile($event)" score="64"></button>
    <button class="fa" row="3" col="2" [colSpan]="2" (tap)="setTile($event)" score="128"></button>
    <button class="fa" row="3" col="4" [colSpan]="2" (tap)="setTile($event)" score="256"></button>

    </GridLayout>
    <Button  height= "5%" width="25%" class="restart" text="Restart" (tap)="restartGame()"> </Button>
</StackLayout>